<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/tazacafe"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tazacafe"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhoPaysCoffee"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".NewUserGrupActivity"
            android:exported="false" />
        <activity
            android:name=".UserGrupsActivity"
            android:exported="false"
            android:theme="@style/Theme.WhoPaysCoffee" />
        <activity
            android:name=".passwordChangeActivity"
            android:exported="false" />
        <activity
            android:name=".AdminGrupsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminUsersActivity"
            android:exported="false" />
        <activity
            android:name=".UserConfActivity"
            android:exported="false"
            android:parentActivityName=".UserMainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".UserMainActivity"
            android:exported="false" />
        <activity
            android:name=".AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>